body{
    background-color: rgb(233, 228, 224);
}

.dark
{
    background-color: rgb(16, 15, 15);
    color:rgb(255, 255, 255)
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 0, 111);
}

p{
    text-align: center;
    font-weight: 90;
    font-size:20px
}
h4{
    font-weight: 90;
    text-align: center;
    font-size:25px;
}